.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 15px 40px;
}

.logo {
  color: white;
}

.links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

.page {
  padding: 40px;
  text-align: center;
}
